.Topheader{
   width: 100%;
   display: inline-flex;
   align-content: center;
   
   
}
.jk {
     font-size: 20px;
     text-align: center;
   
}
.gk {
    font-size: 20px;
    text-align: center;
  
}
.Fiimage{
    width: 150px;
}
.Fimage{
    margin: 10px;
    
}
.Maintext{
    margin: 10px;
    display: inline-flex;
    flex-direction: column;
    align-self: center;
    flex-grow: 8;
}

.Banner{
    width: 100%;
    height: 50%;
}
.Bannerimg{
    width: 100%;
}
.parameter{
    
    height: 100%;
    background-color: hsl(0, 0%, 98%);
   
    
    
}

.box{
    background-color: white;
    border-radius: 5px;
    box-shadow: 0px 30px 40px -20px hsl(229, 6%, 66%);
    padding: 30px;
    margin: 15px;
    position: relative;
    
    border-top: 3px solid rgba(33,36,41,255);
    transition: 0.4s;
    

}
.box:hover{
    border-top: 15px solid rgba(33,36,41,255);
    width:25%;

}
.box p {
    color:hsl(229, 6%, 66%);
    font-size: 10px;
}
.box h2 {
    color:hsl(234, 12%, 34%);
    font-weight: 600;
    font-size: 25px;
    margin-left: 2.5px;
    margin-left: 2.5px;

}
.box img{
    float: right;
    width: 40px;

}
@media (max-width: 450px) {
    .box {
        height: 200px;
    }
}

@media (max-width: 950px) and (min-width: 450px) {
    .box {
        text-align: center;
        height: 180px;
    }
}
@media (min-width: 950px) {
    .row1 {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .row2-container {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .box-down {
        position: relative;
        top: 150px;
    }
    .box {
        width: 20%;
     
    }
    .header p {
        width: 30%;
    }
    
}

.heading{
    font-size: 20px;
    text-align: center;
    padding-top: 30px;
    font-weight: 500;
    ;
}

.para{
    text-align: center;
    margin: 40px;
    margin-left: 40px;
    margin-right: 40px;
    color: grey;
}

.footer{
    height: 100px;
    background-color:rgba(33,36,41,255) ;
}

.parap{
    text-align: center;
    margin: 40px;
    margin-left: 40px;
    margin-right: 40px;
    font-size: 15px;
    color: white;
}

.me-auto{
    display: flex;
    width: 100%;
    justify-content: center;
    
    
    color: white;
    

}
.me-auto1{
    display: flex;
    width: 100%;
    
    
    
    color: white;
    

}